
html, body {
  width: 100%;
  height:100%;
}

/* body {
  background: 
  linear-gradient(135deg, #8E8D8A 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #8E8D8A 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #8E8D8A 25%, transparent 25%),
  linear-gradient(45deg, #8E8D8A 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #E85A4F;
} */

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(90deg, #EAE7DC, #D8CEA5, #E98074, #E85A4F);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    } 
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    } 
}
.App {
  display: grid;
  border-style: solid;
  border-color: red;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100vh
}

.movies-container{
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

}

/* ----------------------------- NAVBAR ----------------------------- */
.NavBar {
  grid-column: 1 /span 3;
  grid-row: 1;
  background-color: #efc1a9;
  display: grid;
  align-items: center;
  justify-items: center;
}

.NavBar {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

/* ----------------------------- SearchBar ----------------------------- */

.SearchBar {
  align-items: center;
  justify-content: center;
}

/* ----------------------------- MovieCards ----------------------------- */

.movie-image {
  width: 100%;
  height: 30vh
}

/* .moviesCard {
  overflow: hidden;
  Border-radius: 10px;
  Border: 5px groove rgba(0, 0, 0, 0.714);
  }  */

  .likeButton {
    align-items: right;
    justify-content: right;
    align-self: right;
  }

  .MoviesCard {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);

  }

  .read-more-less--more {
    font-family: "philosopher";
  }

  .read-more-less--less {
    font-family: "philosopher";
  }

  .read-more_less {
    font-family: "philosopher";
  }